/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/startup/
*.secret
.classpath
.project
.settings
export/
etc/launcher-configuration.ini

# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
.vscode/settings.json
output
bin
app/log